@import "tailwindcss";

@plugin "@tailwindcss/typography";
/* Typography plaginini shu yerda chaqirish ham mumkin */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #ffffff;
  --card-border: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* To'q qora fon */
    --foreground: #ededed;
    /* Oqish yozuv */
    --card-bg: #171717;
    /* Kartochka uchun to'q rang */
    --card-border: #262626;
    /* Kartochka chegarasi */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Inputlar uchun to'g'ri yechim (Background va Color avtomatik moslashadi) */
@layer base {

  input,
  textarea,
  select {
    @apply bg-transparent border border-gray-300 dark:border-gray-700 rounded-md;
    color: inherit;
    /* Otasining rangini oladi */
  }

  ::placeholder {
    @apply text-gray-400 dark:text-gray-500;
  }
}